 

#fbsection1 {
	background-image: url(../images/isabel-puppetshows/1.jpg);
}

#fbsection2 {
	background-image: url(../images/isabel-puppetshows/2.jpg);
}

#fbsection3 {
	background-image: url(../images/isabel-puppetshows/3.jpg);
}

#fbsection4 {
	background-image: url(../images/isabel-puppetshows/4.jpg);
}

#fbsection5 {
	background-image: url(../images/isabel-puppetshows/5.jpg);
}
#fbsection6 {
	background-image: url(../images/isabel-puppetshows/6.jpg);
}

#fbsection7 {
	background-image: url(../images/isabel-puppetshows/7.jpg);
}

#fbsection8 {
	background-image: url(../images/isabel-puppetshows/8.jpg);
}

#fbsection9 {
	background-image: url(../images/isabel-puppetshows/9.jpg);
}

#fbsection0 {
	background-image: url(../images/isabel-puppetshows/10.jpg);
}
