 

#fbsection1 {
	background-image: url(../images/isabel-skyopera/1.jpg);
}

#fbsection2 {
	background-image: url(../images/isabel-skyopera/2.jpg);
}

#fbsection3 {
	background-image: url(../images/isabel-skyopera/3.jpg);
}

#fbsection4 {
	background-image: url(../images/isabel-skyopera/4.jpg);
}

#fbsection5 {
	background-image: url(../images/isabel-skyopera/5.jpg);
}
#fbsection6 {
	background-image: url(../images/isabel-skyopera/6.jpg);
}

#fbsection7 {
	background-image: url(../images/isabel-skyopera/7.jpg);
}

#fbsection8 {
	background-image: url(../images/isabel-skyopera/8.jpg);
}

#fbsection9 {
	background-image: url(../images/isabel-skyopera/9.jpg);
}

#fbsection0 {
	background-image: url(../images/isabel-skyopera/10.jpg);
}
