 

#fbsection1 {
	background-image: url(../images/isabel-nationalartservice/1.jpg);
}

#fbsection2 {
	background-image: url(../images/isabel-nationalartservice/2.jpg);
}

#fbsection3 {
	background-image: url(../images/isabel-nationalartservice/3.jpg);
}

#fbsection4 {
	background-image: url(../images/isabel-nationalartservice/4.jpg);
}

#fbsection5 {
	background-image: url(../images/isabel-nationalartservice/5.jpg);
}
#fbsection6 {
	background-image: url(../images/isabel-nationalartservice/6.jpg);
}

#fbsection7 {
	background-image: url(../images/isabel-nationalartservice/7.jpg);
}

#fbsection8 {
	background-image: url(../images/isabel-nationalartservice/8.jpg);
}

#fbsection9 {
	background-image: url(../images/isabel-nationalartservice/9.jpg);
}

#fbsection0 {
	background-image: url(../images/isabel-nationalartservice/10.jpg);
}
