 

#fbsection1 {
	background-image: url(../images/isabel-sheep/1.jpg);
}

#fbsection2 {
	background-image: url(../images/isabel-sheep/2.jpg);
}

#fbsection3 {
	background-image: url(../images/isabel-sheep/3.jpg);
}

#fbsection4 {
	background-image: url(../images/isabel-sheep/4.jpg);
}

#fbsection5 {
	background-image: url(../images/isabel-sheep/5.jpg);
}
#fbsection6 {
	background-image: url(../images/isabel-sheep/6.jpg);
}

#fbsection7 {
	background-image: url(../images/isabel-sheep/7.jpg);
}

#fbsection8 {
	background-image: url(../images/isabel-sheep/8.jpg);
}

#fbsection9 {
	background-image: url(../images/isabel-sheep/9.jpg);
}

#fbsection0 {
	background-image: url(../images/isabel-sheep/10.jpg);
}
