 
#fbsection1 {
	background-image: url(../images/john-greece/1.jpg);
}

#fbsection2 {
	background-image: url(../images/john-greece/2.jpg);
}

#fbsection3 {
	background-image: url(../images/john-greece/3.jpg);
}

#fbsection4 {
	background-image: url(../images/john-greece/4.jpg);
}

#fbsection5 {
	background-image: url(../images/john-greece/5.jpg);
}

#fbsection6 {
	background-image: url(../images/john-greece/6.jpg);
}

#fbsection7 {
	background-image: url(../images/john-greece/7.jpg);
}

#fbsection8 {
	background-image: url(../images/john-greece/8.jpg);
}

#fbsection9 {
	background-image: url(../images/john-greece/9.jpg);
}