 
#fbsection1 {
	background-image: url(../images/john-mugs/1.jpg);
}

#fbsection2 {
	background-image: url(../images/john-mugs/2.jpg);
}

#fbsection3 {
	background-image: url(../images/john-mugs/3.jpg);
}

