

#fbsection1 {
	background-image: url(../images/john-exhibitions/1.jpg);
}

#fbsection2 {
	background-image: url(../images/john-exhibitions/2.jpg);
}

#fbsection3 {
	background-image: url(../images/john-exhibitions/3.jpg);
}

#fbsection4 {
	background-image: url(../images/john-exhibitions/4.jpg);
}

#fbsection5 {
	background-image: url(../images/john-exhibitions/5.jpg);
}
#fbsection6 {
	background-image: url(../images/john-exhibitions/6.jpg);
}

