 

#fbsection1 {
	background-image: url(../images/john-teapots/1.jpg);
}

#fbsection2 {
	background-image: url(../images/john-teapots/2.jpg);
}

#fbsection3 {
	background-image: url(../images/john-teapots/3.jpg);
}

#fbsection4 {
	background-image: url(../images/john-teapots/4.jpg);
}

#fbsection5 {
	background-image: url(../images/john-teapots/5.jpg);
}
#fbsection6 {
	background-image: url(../images/john-teapots/6.jpg);
}

#fbsection7 {
	background-image: url(../images/john-teapots/7.jpg);
}

#fbsection8 {
	background-image: url(../images/john-teapots/8.jpg);
}
