*,
*:after,
*::before {
z-index:1000;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
}
 .button {
vertical-align:top; 
display:inline-block; 
line-height:60px;
height:60px;
width:60px;
 }


/* Icomoon.com */

.gn-menu-main,
.gn-menu-main ul {
z-index:1000;
		margin: 0;
		padding: 0;
		background: #fdf6e3;
		color: #b58900;
		list-style: none;
		text-transform: none;
		font-weight: 300;
		font-family: 'Lato', Arial, sans-serif;
		line-height: 60px;
}

.gn-menu-main {
z-index:1000;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 60px;
		font-size: 13px;
}

.gn-menu-main a {
z-index:1000;
		display: block;
		height: 100%;
		color: #b58900;
		text-decoration: none;
		cursor: pointer;
}

.gn-menu-main a:hover,
 .gn-menu li.gn-search-item:hover,
  .gn-menu li.gn-search-item:hover a {
z-index:1000;
		background: #93a1a1;
		color: #fdf6e3;
}

.gn-menu-main > li {
z-index:1000;
		display: block;
		float: left;
		height: 100%;
		border-right: 5px solid #eee8d5;
		text-align: center;
}

/* icon-only trigger (menu item) */

.gn-menu-main li.gn-trigger {
z-index:1000;
		position: relative;
		width: 60px;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
}

.gn-menu-main > li:last-child {
z-index:1000;
		float: right;
		border-right: none;
		border-left: 5px solid #eee8d5;
}

.gn-menu-main > li > a {
z-index:1000;
		padding: 0 30px;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: bold;
}

.gn-menu-main:after {
z-index:1000;
		display: table;
		clear: both;
		content: "";
}

.gn-menu-wrapper {
z-index:1000;
		position: fixed;
		top: 60px;
		bottom: 0;
		left: 0;
		overflow: hidden;
		width: 60px;
		border-top: 5px solid #eee8d5;
		background: #fdf6e3;;
		-webkit-transform: translateX(-60px);
		-moz-transform: translateX(-60px);
		transform: translateX(-60px);
		-webkit-transition: -webkit-transform 0.3s, width 0.3s;
		-moz-transition: -moz-transform 0.3s, width 0.3s;
		transition: transform 0.3s, width 0.3s;
}

.gn-scroller {
z-index:1000;
		position: absolute;
		overflow-y: scroll;
		width: 370px;
		height: 100%;
}

.gn-menu {
z-index:1000;
		border-bottom: 5px solid #eee8d5;
		text-align: left;
		font-size: 18px;
}

.gn-menu li:not(:first-child),
.gn-menu li li {
z-index:1000;
		box-shadow: inset 0 5px #eee8d5;
}

.gn-submenu li {
z-index:1000;
		overflow: hidden;
		height: 0;
		-webkit-transition: height 0.3s;
		-moz-transition: height 0.3s;
		transition: height 0.3s;
}

.gn-submenu li a {

		color: #c1c9d1
}

input.gn-search {
		position: relative;
		z-index: 10;
		padding-left: 60px;
		outline: none;
		border: none;
		background: transparent;
		color: #b58900;
		font-weight: 300;
		font-family: 'Lato', Arial, sans-serif;
		cursor: pointer;
}

/* placeholder */

.gn-search::-webkit-input-placeholder {
		color: #5f6f81
}

.gn-search:-moz-placeholder {
		color: #5f6f81
}

.gn-search::-moz-placeholder {
		color: #5f6f81
}

.gn-search:-ms-input-placeholder {
		color: #5f6f81
}

/* hide placeholder when active in Chrome */

.gn-search:focus::-webkit-input-placeholder,
 .gn-menu li.gn-search-item:hover .gn-search:focus::-webkit-input-placeholder {
		color: transparent
}

input.gn-search:focus {
		cursor: text
}

 .gn-menu li.gn-search-item:hover input.gn-search {
		color: #fdf6e3;
}

/* placeholder */

 .gn-menu li.gn-search-item:hover .gn-search::-webkit-input-placeholder {
		color: #fdf6e3;
}

 .gn-menu li.gn-search-item:hover .gn-search:-moz-placeholder {
		color: #fdf6e3;
}

 .gn-menu li.gn-search-item:hover .gn-search::-moz-placeholder {
		color: #fdf6e3;
}

 .gn-menu li.gn-search-item:hover .gn-search:-ms-input-placeholder {
		color: #fdf6e3;
}


.gn-menu-main a.gn-icon-search {
		position: absolute;
		top: 0;
		left: 0;
		height: 60px;
}

.gn-icon::before {
		display: inline-block;
		width: 60px;
		text-align: center;
		text-transform: none;
		font-weight: normal;
		font-style: normal;
		font-variant: normal;
		font-family: 'ecoicons';
		line-height: 1;
		speak: none;
	   -webkit-font-smoothing: antialiased;
}

.gn-icon-help::before {
		content: "\e000"
}

.gn-icon-earth::before {
		content: "\e004"
}

.gn-icon-cog::before {
		content: "\e006"
}

.gn-icon-search::before {
		content: "\e005"
}

.gn-icon-download::before {
		content: "\e007"
}

.gn-icon-photoshop::before {
		content: "\e001"
}

.gn-icon-illustrator::before {
		content: "\e002"
}

.gn-icon-archive::before {
		content: "\e00d"
}

.gn-icon-article::before {
		content: "\e003"
}

.gn-icon-pictures::before {
		content: "\e008"
}

.gn-icon-videos::before {
		content: "\e009"
}

/* if an icon anchor has a span, hide the span */

.gn-icon span {
		width: 0;
		height: 0;
		display: block;
		overflow: hidden;
}

.gn-icon-menu::before {
vertical-align:top; 
display:inline-block; 
font-size:460%;
}

 .gn-icon-menu:hover::before,
 .gn-icon-menu.gn-selected:hover::before {
		background: #b58900;
 
}

.gn-icon-menu.gn-selected::before {
		background: #fdf6e3;
 
}

/* styles for opening menu */

.gn-menu-wrapper.gn-open-all,
.gn-menu-wrapper.gn-open-part {
		-webkit-transform: translateX(0px);
		-moz-transform: translateX(0px);
		transform: translateX(0px);
}

.gn-menu-wrapper.gn-open-all {
		width: 160px
}

.gn-menu-wrapper.gn-open-all .gn-submenu li {
		height: 60px
}

@media screen and (max-width: 422px) { 
	.gn-menu-wrapper.gn-open-all {
			-webkit-transform: translateX(0px);
			-moz-transform: translateX(0px);
			transform: translateX(0px);
			width: 100%;
	}

	.gn-menu-wrapper.gn-open-all .gn-scroller {
			width: 130%
	}
}
