
#fbsection1 {
	background-image: url(../images/reuben-candlesticks/1.jpg);
}

#fbsection2 {
	background-image: url(../images/reuben-candlesticks/2.jpg);
}

#fbsection3 {
	background-image: url(../images/reuben-candlesticks/3.jpg);
}

#fbsection4 {
	background-image: url(../images/reuben-candlesticks/4.jpg);
}

#fbsection5 {
	background-image: url(../images/reuben-candlesticks/5.jpg);
}
#fbsection6 {
	background-image: url(../images/reuben-candlesticks/6.jpg);
}
