 
#fbsection1 {
	background-image: url(../images/reuben-ceramictents/1.jpg);
}

#fbsection2 {
	background-image: url(../images/reuben-ceramictents/2.jpg);
}

#fbsection3 {
	background-image: url(../images/reuben-ceramictents/3.jpg);
}

#fbsection4 {
	background-image: url(../images/reuben-ceramictents/4.jpg);
}

#fbsection5 {
	background-image: url(../images/reuben-ceramictents/5.jpg);
}
#fbsection6 {
	background-image: url(../images/reuben-ceramictents/6.jpg);
}

#fbsection7 {
	background-image: url(../images/reuben-ceramictents/7.jpg);
}

