 

#fbsection1 {
	background-image: url(../images/ruth-pompom/1.jpg);
}

#fbsection2 {
	background-image: url(../images/ruth-pompom/2.jpg);
}

#fbsection3 {
	background-image: url(../images/ruth-pompom/3.jpg);
}

#fbsection4 {
	background-image: url(../images/ruth-pompom/4.jpg);
}

#fbsection5 {
	background-image: url(../images/ruth-pompom/5.jpg);
}
#fbsection6 {
	background-image: url(../images/ruth-pompom/6.jpg);
}
