 

#fbsection1 {
	background-image: url(../images/ruth-installations/1.jpg);
}

#fbsection2 {
	background-image: url(../images/ruth-installations/2.jpg);
}

#fbsection3 {
	background-image: url(../images/ruth-installations/3.jpg);
}

#fbsection4 {
	background-image: url(../images/ruth-installations/4.jpg);
}

 
