
#fbsection1 {
	background-image: url(../images/ruth-wood/1.jpg);
}

#fbsection2 {
	background-image: url(../images/ruth-wood/2.jpg);
}

#fbsection3 {
	background-image: url(../images/ruth-wood/3.jpg);
}


