 
#fbsection1 {
	background-image: url(../images/ruth-textiles/1.jpg);
}

#fbsection2 {
	background-image: url(../images/ruth-textiles/2.jpg);
}

#fbsection3 {
	background-image: url(../images/ruth-textiles/3.jpg);
}

#fbsection4 {
	background-image: url(../images/ruth-textiles/4.jpg);
}

#fbsection5 {
	background-image: url(../images/ruth-textiles/5.jpg);
}

