

#fbsection1 {
	background-image: url(../images/ruth-workshops/1.jpg);
}

#fbsection2 {
	background-image: url(../images/ruth-workshops/2.jpg);
}

#fbsection3 {
	background-image: url(../images/ruth-workshops/3.jpg);
}

#fbsection4 {
	background-image: url(../images/ruth-workshops/4.jpg);
}

#fbsection5 {
	background-image: url(../images/ruth-workshops/5.jpg);
}

#fbsection6 {
	background-image: url(../images/ruth-workshops/6.jpg);
}

