 
#fbsection1 {
	background-image: url(../images/ruth-ceramics/1.jpg);
}

#fbsection2 {
	background-image: url(../images/ruth-ceramics/2.jpg);
}

#fbsection3 {
	background-image: url(../images/ruth-ceramics/3.jpg);
}

#fbsection4 {
	background-image: url(../images/ruth-ceramics/4.jpg);
}

#fbsection5 {
	background-image: url(../images/ruth-ceramics/5.jpg);
}

#fbsection6 {
	background-image: url(../images/ruth-ceramics/6.jpg);
}

#fbsection7 {
	background-image: url(../images/ruth-ceramics/7.jpg);
}

#fbsection8 {
	background-image: url(../images/ruth-ceramics/8.jpg);
}