 
#fbsection1 {
	background-image: url(../images/ruth-metal/1.jpg);
}

#fbsection2 {
	background-image: url(../images/ruth-metal/2.jpg);
}

#fbsection3 {
	background-image: url(../images/ruth-metal/3.jpg);
}

#fbsection4 {
	background-image: url(../images/ruth-metal/4.jpg);
}

 
