  

#fbsection1 {
	background-image: url(../images/ruth-decor/1.jpg);
}

#fbsection2 {
	background-image: url(../images/ruth-decor/2.jpg);
}

#fbsection3 {
	background-image: url(../images/ruth-decor/3.jpg);
}

#fbsection4 {
	background-image: url(../images/ruth-decor/4.jpg);
}

