@font-face {
	font-family: 'ecoico';
	src:url('../fonts/timelineicons/ecoico.eot');
	src:url('../fonts/timelineicons/ecoico.eot?#iefix') format('embedded-opentype'),
		url('../fonts/timelineicons/ecoico.woff') format('woff'),
		url('../fonts/timelineicons/ecoico.ttf') format('truetype'),
		url('../fonts/timelineicons/ecoico.svg#ecoico') format('svg');
	font-weight: normal;
	font-style: normal;
} /* Made with http://icomoon.io/ */

.cbp_tmtimeline {
   
	margin: 4% 0 0 0;
	padding: 0;
	list-style: none;
	position: relative;
} 

/* The line */
.cbp_tmtimeline:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	width: 1%;
	background: #2aa198;
	left: 15%;
	margin-left: -10px;
}

/* The date/time */
.cbp_tmtimeline > li .cbp_tmtime {
	display: block;
	width: 17%;
	padding-right: 100px;
	position: absolute;
}

.cbp_tmtimeline > li .cbp_tmtime span {
 padding-top:20%;
    padding-right:30%;
	display: block;
	text-align: right;
}

.cbp_tmtimeline > li .cbp_tmtime span:first-child {
	font-size: 0.9em;
	color: #2aa198;
}

.cbp_tmtimeline > li .cbp_tmtime span:last-child {
 padding-top:3%;
	font-size: 1.9em;
	color: #d33682;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmtime span:last-child {
	color: #dc322f;
}

/* Right content */
.cbp_tmtimeline > li .cbp_tmlabel {
    width: 60%;
	margin: 0 0 15px 25%;
	background: #002b36;
	color: #b58900;
	padding: 2em;
	font-size: 1.2em;
	font-weight: 300;
	line-height: 1.4;
	position: relative;
	border-radius: 5px;
}

.cbp_tmtimeline > li .timeline-header {
	font-size: 1em;
	font-weight: 300;
	line-height: 1.4;
	background: #002b36;
	color: #268bd2;

}
.cbp_tmtimeline > li:nth-child(odd) .timeline-header {
	font-size: 1em;
	font-weight: 300;
	line-height: 1.4;
	background: #002b36;
	color: #859900;

}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel {
 padding-top:3%;
	background: #002b36;
}

.cbp_tmtimeline > li .cbp_tmlabel h2 { 
 padding-top:30%;
	margin-top: 0px;
	padding: 0 0 10px 0;
	border-bottom: 1px solid rgba(255,255,255,0.4);
}

/* The triangle */
.cbp_tmtimeline > li .cbp_tmlabel:after {
	right: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-right-color: #002b36;
	border-width: 10px;
	top: 10px;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
	border-right-color: #002b36;
}


